{% extends 'blog/base.html' %}
<head>
	<link rel="stylesheet" href="css/detail.css">
</head>
<body>
	{% block content %}
		<form method="get" action="/post/new">
			<div class="post"  style="margin-top: 70px">
				<div class="col-md-3 col-md-offset-1" style="margin-left: 20px">
					<button class="btn btn-primary btn-block" name="nuevapubliacion" >Nueva publicación</button>
				</div>
			</div>
		</form>
		<br>
	    {% for post in posts %}
	        <div class="post" style="margin-top: 70px">
	        	<div class="col-md-12 col-md-offset-1" style="margin-left: -100px" >
					<div class="panel panel-primary" style="margin-top:-25px"  >
						<!-- Mostraremos solo el titulos de la publicacion -->			            
			           <h4 style="margin-left:20px" ><a href="{% url 'post_detail' pk=post.pk %}" >{{ post.title }}</a></h4>
			           <p style="margin-left: 700px">{{ post.published_date }}</p>
			           <p style="margin-left: 700px">Comentarios:</p>
			        </div>
			    </div>
	        </div> 
	    {% endfor %}
	{% endblock %}
	
</body>

