{% extends 'blog/base.html' %}

<head>
	<link rel="stylesheet" href="css/detail.css">
</head>

<body>
	{% block content %}
	    <h1 style="margin-top: 100px;">Publicación</h1>
	    <form method="POST" class="post-form" >
	    	{% csrf_token %}
	        {{ form.as_p }}
	        <div class="col-md-2 col-md-offset-1" style="margin-left: 85%">
	        	<button class="btn btn-primary btn-block" type="submit" name="guardar" style="left: 300%">Guardar</button>
	        </div>
	    </form>
	    <div class="col-md-10 col-md-offset-1" style="">
            <form method="get" action="/post/">
                <div class="post"  style="margin-top: 10px">
                    <div class="col-md-3 col-md-offset-1" style="margin-left: -250px">
                        <button class="btn btn-primary btn-block" name="nuevapubliacion" >Volver</button>
                    </div>
                </div>
            </form>
        </div>
	{% endblock %}
</body>