{% extends 'blog/base.html'%}

{% block title %}
Portada
{% endblock %}
{% block navbar%} 
{% endblock %} 
{% block content %} 
{% load staticfiles %}
<head>
	<link rel="stylesheet" href="{% static 'css/portada.css' %}">
</head>
<body >
	<div class="row"> 
		<div style="text-align: center" class="col-md-10 col-md-offset-1"> 
			<div  class="form-group" style="text-align: center>
				<div class="col-md-10 col-md-offset-1 ">
					<h1>Bienvenido</h1>
				</div>
				<div class="col-md-10 col-md-offset-1">
					<div class="panel panel-primary" style="text-align: center>
						<h4 href="#" class="text-center">
							<p class="text-center" style="font-size:22px">¿Desea Conocer nuestras secciones?</p>
							<a href="/post/secciones" style="font-size: 22px; color: #188dbd">Click Aqui!</a>
						</h4>					
					</div>	
				</div>	
			</div> 			
		</div> 
	</div>
</body>

{% endblock %}﻿